<section>
  <div>
    <a routerLink="/">
      <img
        src="assets/images/logo-icon.svg"
        alt="Logo icon"
        width="40"
        height="40"
        decoding="async"
      />
    </a>

    <button type="button" mat-icon-button (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-nav-list>
    @for (item of sideNavItems; track item.label) {
      <a mat-list-item [routerLink]="item.path" routerLinkActive="active">{{
        item.label
      }}</a>
    }
  </mat-nav-list>
</section>
