<article>
  <h1>
    {{ movieDetailSignal()?.title }}
  </h1>

  <img
    [src]="movieDetailSignal()?.image?.url"
    alt="{{ movieDetailSignal()?.title + ' Image' }}"
    [class.loaded]="isImageLoaded || isImageBroken"
    decoding="async"
    (load)="isImageLoaded = true"
    (error)="isImageBroken = true"
  />

  <!-- GENRES -->
  <mat-chip-set aria-label="Genre selection">
    @for (genre of movieDetailSignal()?.genres; track genre) {
      <mat-chip>{{ genre }}</mat-chip>
    } @empty {
      <mat-chip>Genres not found</mat-chip>
    }
  </mat-chip-set>

  <!-- POPULARITY -->
  <p class="popularity">
    Rating of
    <span>
      {{ movieDetailSignal()?.popularity | number: "1.2-2" }}
    </span>
  </p>

  <!-- BUDGET -->
  <p class="budget">
    Budget:
    {{
      movieDetailSignal()?.budget
        ? (movieDetailSignal()?.budget | currency: "EUR")
        : "Not Available"
    }}
  </p>
</article>
