<mat-sidenav-container
  class="app-container h-full"
  (backdropClick)="onBackDropClick()"
  autosize
>
  <!-- Sidenav -->
  <mat-sidenav
    #drawer
    [mode]="'side'"
    [opened]="!isMenuCollapsedSignal()"
    class="sidenav"
    class="p-4 !w-full md:!w-1/4 lg:!w-1/8 !border-r-2 !rounded-none !border-gray-400/30 !bg-black"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content class="p-4 flex">
    <!-- Small hamburger outside drawer for collapsed state -->
    <button
      type="button"
      mat-icon-button
      (click)="toggleSidenav()"
      class="ml-4"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="overflow-hidden md:overflow-y-auto flex flex-col gap-5 flex-1">
      <router-outlet></router-outlet>
      <app-last-visited></app-last-visited>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
