@use "mixins" as *;

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    padding: 1rem;
    background-color: black;
    border-radius: 0;

    border-color: color-mix(in oklab, lightgray 30%, transparent);
    border-right: 2px;

    width: 12.5%;

    @include breakpoint("large") {
      width: 25%;
    }

    @include breakpoint("medium") {
      width: 100%;
    }
  }

  mat-sidenav-content {
    display: flex;

    > div {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;

      padding: 4em;

      @include breakpoint("medium") {
        padding: 1em;
      }

      app-header {
        margin-bottom: 2rem;
      }
    }
  }
}
