<mat-sidenav-container (backdropClick)="onBackDropClick()" autosize>
  <!-- Sidenav -->
  <mat-sidenav
    #drawer
    [mode]="'side'"
    [opened]="!isMenuCollapsedSignal()"
    class="sidenav"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <div>
      <app-header [value]="titleSignal()"></app-header>
      <router-outlet></router-outlet>
      <app-last-visited></app-last-visited>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
