<header>
  <!-- MENU TOGGLE -->
  <button type="button" mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <div>
    <!-- LOGO -->
    <a routerLink="/" aria-label="Go to home">
      <img
        src="assets/images/logo-icon.svg"
        alt="Company Logo"
        width="80"
        height="80"
        decoding="async"
        loading="eager"
      />
    </a>

    <!-- PAGE TITLE -->
    @if (value()) {
      <h1>
        {{ value() }}
      </h1>
    }
  </div>
</header>
