<a
  [routerLink]="['/movies', movie().slug]"
  routerLinkActive="active"
  class="relative text-decoration-none grid h-full rounded"
  [class.bg-gray-200]="isImageBroken"
>
  <img
    [src]="movieImageSignal()"
    alt="{{ movie().title + ' Image' }}"
    class="w-60 h-60 md:h-80 opacity-0 transition-opacity duration-500 rounded"
    [class.opacity-100]="isImageLoaded || isImageBroken"
    width="300"
    height="445"
    decoding="async"
    (load)="isImageLoaded = true"
    (error)="isImageBroken = true"
  />

  <!-- Badge -->
  <!-- @if (movie().tag) {
    <span
      class="badge float-end position-absolute"
      [ngClass]="movie().tag === 'hot' ? 'text-bg-danger' : 'text-bg-warning'"
      >{{ movie().tag | uppercase }}</span
    >
  } -->
  <!-- Hover -->
  <!-- @if (movie().id) {
    <span class="hidden md:block hover-background w-100 h-100 absolute top-0">
      <div class="w-100 h-100 absolute">
        <div
          class="relative h-100 flex flex-col justify-between items-center p-4"
        >
          <p class="text-center mb-0 overflow-hidden fs-4">
            {{ movie().title }}
          </p>
          <button
            (click)="onPlayForFun()"
            class="btn btn-primary"
            type="button"
          >
            Play for Fun
          </button>
        </div>
      </div>
    </span>
  } -->
</a>

<!-- <div
  class="bg-white text-black flex flex-col items-center border border-top-0 justify-start md:hidden w-100 p-3 mobile-cta-container"
>
  <p class="mb-0">{{ movie().title }}</p>
  <button (click)="onPlayForFun()" class="btn btn-primary w-100" type="button">
    Play for Fun
  </button>
</div> -->
