<a
  [routerLink]="['/movies', movie().slug]"
  routerLinkActive="active"
  class="text-decoration-none h-full rounded justify-center"
  [class.bg-gray-200]="isImageBroken"
>
  <img
    [src]="movieImageSignal()"
    alt="{{ movie().title + ' Image' }}"
    class="w-full md:w-[15em] h-[15em] md:h-[20em] opacity-0 transition-opacity duration-500 rounded"
    [class.opacity-100]="isImageLoaded || isImageBroken"
    width="300"
    height="445"
    decoding="async"
    (load)="isImageLoaded = true"
    (error)="isImageBroken = true"
  />
</a>
