<section>
  <div
    class="movies-grid"
    [class.menu-collapsed]="isMenuCollapsedSignal()"
    [class.grid-cols-7]="!isMenuCollapsedSignal()"
  >
    <h1>Last Visited Movies</h1>

    @for (
      movie of lastVisitedSignal();
      track movie.data.id;
      let movieIndex = $index
    ) {
      <app-movie
        [movie]="movie.data"
        [class.col-start-3]="movieIndex === 0 && !isMenuCollapsedSignal()"
        [class.col-start-4]="movieIndex === 0 && isMenuCollapsedSignal()"
      ></app-movie>
    }

    @for (
      i of placeholdersSignal();
      track placeHolderIndex;
      let placeHolderIndex = $index
    ) {
      <div
        class="placeholder"
        [class.no-visited]="!lastVisitedSignal().length"
        [class.col-start-3]="
          placeHolderIndex === 0 &&
          !lastVisitedSignal().length &&
          !isMenuCollapsedSignal()
        "
        [class.menu-collapsed]="
          placeHolderIndex === 0 &&
          !lastVisitedSignal().length &&
          isMenuCollapsedSignal()
        "
      >
        <span>{{ placeHolderIndex + lastVisitedSignal().length + 1 }}</span>
      </div>
    }
  </div>
</section>
