@use "mixins" as *;

:host {
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2em;

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 1.5rem;
      flex: 1;

      @include breakpoint("small") {
        flex: auto;
      }
    }

    .movies-grid {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 0.75rem;

      @include breakpoint("small") {
        justify-content: flex-start;
        @media (orientation: landscape) {
          justify-content: flex-end;
        }
      }

      app-movie {
        flex: 1 1 calc(10% - 1rem);
        max-width: calc(10% - 1rem);

        @include breakpoint("xsmall") {
          flex: 1 1 calc(50% - 0.375rem); // mobile 2 columns
          max-width: calc(50% - 0.375rem);
        }

        ::ng-deep {
          a {
            display: flex;
          }
        }
      }

      .placeholder {
        flex: 1 1 calc(10% - 1rem);
        max-width: calc(10% - 1rem);

        @include breakpoint("xsmall") {
          flex: 1 1 calc(50% - 0.375rem);
          max-width: calc(50% - 0.375rem);
          min-height: 18em;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(156, 163, 175, 0.1);
        border-radius: 0.25rem;
        color: rgba(156, 163, 175, 0.1);
        font-weight: bold;

        &.no-visited {
          height: 4em;

          @include breakpoint("medium") {
            height: 3em;
          }
        }

        &:first-child {
          &.col-start-3 {
            grid-column-start: 3;
          }
          &.manu-collapsed {
            grid-column-start: 4;

            @include breakpoint("medium") {
              grid-column-start: 3;
            }
          }
        }

        @include breakpoint("small") {
          &:first-child {
            &.col-start-3,
            &.col-start-4 {
              grid-column-start: auto;
            }
          }
        }

        span {
          font-size: 4em;

          @include breakpoint("medium") {
            font-size: 3em;
          }
        }
      }
    }
  }
}
