<mat-form-field>
  <mat-label>Genre</mat-label>
  <mat-select
    [value]="selectedGenresSignal()"
    multiple
    #genreSelect
    (selectionChange)="onGenreChange($event)"
  >
    <div class="clear-btn">
      <button
        type="button"
        mat-button
        matButton="filled"
        (click)="onClearGenres(); genreSelect.close()"
      >
        Clear All
      </button>
    </div>

    <mat-select-trigger>
      {{ selectedGenresSignal()?.[0] ?? "" }}
      @if ((selectedGenresSignal()?.length || 0) > 1) {
        <span>
          (+{{ (selectedGenresSignal()?.length || 0) - 1 }}
          {{ selectedGenresSignal()?.length === 2 ? "other" : "others" }})
        </span>
      }
    </mat-select-trigger>

    @for (genre of genreSignal(); track genre) {
      <mat-option [value]="genre">{{ genre }}</mat-option>
    }
  </mat-select>
</mat-form-field>
